@page "/"
@inject IPizzaService PizzaService
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Blazzing Pizza</PageTitle>
<div class="main">
    <h1>Blazing Pizza</h1>
    @if(pizzas.Count == 0) {
        <p><em>Loading Pizzas...</em></p>
    } else {
        <ul class="pizza-cards">
            @foreach(var pizza in pizzas) {
                <li style="background-image: url('@pizza.ImageUrl');" @onclick="@(() => ViewPizzaDetails(pizza.Id))">
                    <div class="pizza-info">
                        <span class="title">
                            @pizza.Name
                        </span>
                        @pizza.Description
                        <span class="price">
                            @pizza.GetFormattedBasePrice()
                        </span>
                    </div>
                </li>
            }
        </ul>
    }
</div>

@code {
    List<Pizza> pizzas = new List<Pizza>();

    protected override async Task OnInitializedAsync()
    {
        pizzas = await PizzaService.GetAllPizzasAsync();
    }

    void ViewPizzaDetails(int id)
    {
        NavigationManager.NavigateTo($"/pizza-details/{id}");
    }
}